<div class="counter-comp">
    <div style="height:20%"></div>
    <div class="countPanel">
        <div class="countDigit">{{counter.h1}}</div>
        <div class="countDigitSpacer"></div>
        <div class="countDigit">{{counter.h2}}</div>
        <div class="countDigitColon">:</div>
        <div class="countDigit">{{counter.m1}}</div>
        <div class="countDigitSpacer"></div>
        <div class="countDigit">{{counter.m2}}</div>
        <div class="countDigitColon">:</div>
        <div class="countDigit">{{counter.s1}}</div>
        <div class="countDigitSpacer"></div>
        <div class="countDigit">{{counter.s2}}</div>
        <div style="clear:both"></div>
    </div>
    <input type="button" ng-click="startCounter()" class="btn" value="start"/>
    <input type="button" ng-click="suspendCounting()" class="btn" value="suspend"/>
</div>
