<div class="counter-comp">
    {{options.showControls}}
    <div class="countPanel">
        <div class="countDigit">{{counter.h1}}</div>
        <div class="countDigitSpacer"></div>
        <div class="countDigit">{{counter.h2}}</div>
        <div class="countDigitColon">:</div>
        <div class="countDigit">{{counter.m1}}</div>
        <div class="countDigitSpacer"></div>
        <div class="countDigit">{{counter.m2}}</div>
        <div class="countDigitColon">:</div>
        <div class="countDigit">{{counter.s1}}</div>
        <div class="countDigitSpacer"></div>
        <div class="countDigit">{{counter.s2}}</div>
        <div style="clear:both"></div>
    </div>

    <div class="counter-control" ng-show="options.showControls">
        <!--<input type="button" ng-click="startCounter()" class="btn" value="start"/>-->
        <!--<input type="button" ng-click="suspendCounting()" class="btn icon-repeat" />-->

        <!--show one of the following 3 elements-->
        <i class="icon-play" ng-click="startCounting()" ng-show="!counter.counting && !counter.suspended"></i>
        <i class="icon-play" ng-click="resumeCounting()" ng-show="!counter.counting && counter.suspended"></i>
        <i class="icon-pause" ng-click="suspendCounting()" ng-show="counter.counting && !counter.suspended"></i>

        <i class="icon-repeat " ng-click="startCounting()" ></i>
    </div>
</div>
