<div>
    <% layout('_layout') -%>
    <% script('app/pages/detail/detailPageCtrl.js') -%>
    test
    <input type="button" value="asdf" class="btn"/>

    <div class="example"> hallo </div>

    {{msg}}
</div>