<div>
    <% layout('_layout') -%>
    <% script('app/pages/main/controller.js') -%>
    test
    <input type="button" value="asdf" class="btn"/>
     <counter></counter>
    <div class="example"> hallo </div>
    {{msg}}
</div>