<div>
    <% layout('_layout') -%>

    <% script('app/lib/jquery-ui-1.9.2.custom.js') -%>
    <% script('app/pages/main/mainPageCtrl.js') -%>

    <div id="detail-top-area">
        <notification-bar></notification-bar>
        <br/>
        <br/>
        <br/>
        <br/>
        <!--<input type="button" ng-click="suspendCounting()" class="btn" value="suspend from main"/>-->
        <!--<input type="button" ng-click="resumeCounting()" class="btn" value="resume from main"/>-->

        <counter show-controls="true"></counter>

        <!-- stuff -->
        <quick-counter-settings-popup parent="detail-top-area" ng-show="checked"></quick-counter-settings-popup>
    </div>
    <div id="detail-meta-area">
        <div id="handle-constrain-container"></div>
            <i id="handle" class="icon-reorder"></i>
        </div>
    <div class="checkbox-with-label">
        <div style=" float: left">
            <input id="show-popup" type="checkbox" ng-model="checked" style="position: absolute;top: -1px;left: 0;">
        </div>
        <label for="show-popup" style="margin-left:10px; float: left">show popup</label>
        <div style="clear: both"></div>
    </div>

    <br/>
</div>