<div>
    <% layout('_layout') -%>
    <% script('app/pages/main/mainPageCtrl.js') -%>

    <button ng-click="doStuff('asdf')">change the height</button>


    <counter></counter>
    <input type="text" ng-model="msg"/>

    {{msg}}
</div>