<div>
    <% layout('_layout') -%>

    <% script('app/lib/jquery-ui-1.9.2.custom.js') -%>
    <% script('app/pages/main/mainPageCtrl.js') -%>

    <div id="detail-top-area">
        <notification-bar></notification-bar>
        <!--<input type="button" ng-click="suspendCounting()" class="btn" value="suspend from main"/>-->
        <!--<input type="button" ng-click="resumeCounting()" class="btn" value="resume from main"/>-->

        <div id="detail-counter-title-container">
            <div class="center-wrapper">
                <div class="title">Time at work</div>
                <div class="sub-title">counting up from
                    <div id="detail-counter-change-settings" ng-click="showPopup()" class="active-{{popupVisible}}">
                        00:00:00
                    </div>
                </div>
            </div>
        </div>

        <counter id="detail-counter-comp" show-controls="true"></counter>
        <div id="detail-notification-bar">asd</div>

        <quick-counter-settings-popup parent-el="detail-top-area" position-relative-to="detail-counter-change-settings" ng-show="popupVisible" visible={{popupVisible}}></quick-counter-settings-popup>
    </div>

    <div id="detail-meta-area">

        <div id="detail-resize-constrain-container"></div>
        <i id="detail-resize-tool" class="icon-reorder"></i>
    </div>

    <div class="checkbox-with-label">
        <div style=" float: left">
            <input id="show-popup" type="checkbox" ng-model="popupVisible"
                   style="position: absolute;top: -1px;left: 0;">
        </div>
        <label for="show-popup" style="margin-left:10px; float: left">show popup</label>

        <div style="clear: both"></div>
    </div>

    popup visible? : {{popupVisible}};
    <br/>
</div>