<div>
    <div class="quick-counter-settings-popup-comp" style="text-align: right">
        from qcspt directive
    </div>

    <div id="quick-counter-real-popup">
        <div class="arrow-left"></div>
        <div class="content">
            <div style="margin-top: 3px;
color: rgba(255,255,255,0.8);
float: left;
margin-left: 4px;">Counter Settings</div>
            <div class="close-btn" ng-click="close()" style="float:right">
                <i class="icon-remove" ></i>
            </div>
            <div style="clear: both"></div>
        </div>

        <!--<a href="" ng-click="close()">closee</a>-->
    </div>
</div>

